* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  font-size: 4rem;
  margin-top: 1px;
  background: linear-gradient(90deg, red, orange, yellow, green, rgb(69, 69, 242), rgb(147, 48, 217), violet);
  -webkit-background-clip: text;
  color: transparent;
}

