@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&display=swap');

* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Caveat Brush";
}

.title {
  color: white;
  font-size: 4rem;
  margin-top: 1px;
  background: linear-gradient(90deg, red, rgb(224, 177, 48), yellow, rgb(72, 156, 90), rgb(69, 69, 242), rgb(147, 48, 217), violet);
  -webkit-background-clip: text;
  color: transparent;
}


.GameBox {
  height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.GameRow {
  display: flex;
  justify-content: space-between;
}


.GameQuestion {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 1.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.GameQuestion div {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.GameQuestion input {
  width: 100px;
  height: 30px;
  align-self: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  padding-left: 9px;
}


