.tooltip {
  position: absolute;
  padding: 10px;
  background-color: #333;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.4;
  width: 150px; /* Adjust as needed */
  height: 85px;
}

.progress-bar-container {
    width: 20%;
    background-color: #837b7b;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
    height: 20px;
    position: relative;
  }
  
  .progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
    display: flex;
    align-items: center;
    transition: width 0.3s ease-in-out;
    padding-left: 5px; /* Small padding to keep text readable at low progress */
    color: white;
    font-weight: bold;
    border-radius: inherit;
  }
  
.progress-bar-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    white-space: nowrap;
  }