@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-family: "Caveat Brush";
  height: 100vh;
  overflow: auto;
  color: white;
}

.light-mode{
  background-color: #F5F5F7;
  color: rgb(0, 0, 0);
  
}

.title {
  font-size: 4rem;
  margin-top: 10px;
}

.error-container {
  color: black;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  white-space: nowrap;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.icon {
  position: absolute;
  top: 16px;
  right: 150px;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  color: #007bff;
  transform: scale(1.1); 
}

.fade-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  color: #dcdcdc;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
}
.light-mode .fade-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 400;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeInOut 3s ease-in-out forwards;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  25%, 75% { opacity: 1; }
}

/* App.css */
.app-container {
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
  color: white;
}

.icon {
  cursor: pointer;
  /* Other styling as needed */
}
.light-mode .icon {
  filter: invert(1) brightness(0.8);
}

@media (max-width: 850px) {
  .button-container {
    margin-top: 70px;
  }
  .icon {
    margin-top: 70px;
    right: 100px;
  }
  .game-box {
    margin-top: 70px;
  }
}



.clear-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.undo-button {
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.undo-button {
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.level-selector {
  position: absolute;
  top: 15px;
  right: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000; /* Ensure dropdown is visible */
}

.level-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.level-dropdown {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}

.level-dropdown:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.level-selected {
  position: absolute;
  top: 110px;
  right: 10px;
  font-size: 16px;
  color: black;
  font-weight: bold;
}







.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.game-box {
  position: relative;
  height: 95vh;
  width: 90vw;
  gap: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

.game-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.bottom-row {
  margin-top: 100px;
}
